blinker==1.8.2
click==8.1.7
Flask==3.0.3
flask-sock==0.7.0
gevent==24.2.1
greenlet==3.0.3
h11==0.14.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
setuptools==74.0.0
simple-websocket==1.0.0
websocket-client==1.8.0
Werkzeug==3.0.4
wsproto==1.2.0
zope.event==5.0
zope.interface==7.0.3
